{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 12 until the overflow bug",
  "Path": "quicksave.sav",
  "Random Seed": 136663440,
  "Last Loose Tile Sound": 22,
  "Max Steps": 670,
  
  "Rules":
  [
   
   {
    "Description": "Reach overflow, go up and left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 15 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 15, "Value": 55 }
    ]
   },
   
   {
    "Description": "Pick up sword.",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 229 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 }
    ]
   },
   
   {
    "Description": "Reach left screen and keep going left -- the bot will find out how.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 0.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 15, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 55 }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 13 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 13, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 13, "Value": 55 }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 13 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 13, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 13, "Value": 55 }
    ]
   },
   
   {
    "Description": "If Kid arrives to screen 23, then win.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  23 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Current HP", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
