{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 3 (first part before checkpoint)",  
  
  "Savefile Configuration": 
  {
    "Path": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 556531904
    },
    
    "Last Loose Tile Sound":
    {
       "Override": true,
       "Value": 0
    }
  },
  
  "Playback Configuration": 
  {
    "Pause After Every Frame": false,
    "Produce Replay File": false,
    "Frame Duration": 16
  },
  
  "Search Configuration":
  {
   "Max Steps": 1000,
   "Max Local Database Size": 200000,
   "Show Profiling Information": true,
   "Show Debugging Information": true,
   "Show SDLPop Display": true,
   
   "Hash Databases":
   {
    "Database Count": 10,
    "Size Threshold": 5500000
   },
      
   "Rules":
   [
    {
     "Description": "If top screen is reached, win.",
     "Conditions":
     [ 
      { "Property": "Kid Room", "Op": "==", "Value":  1 },
      { "Property": "Kid Position Y", "Op": "<", "Value":  80 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
       { "Type": "Trigger Win" }
     ]
    },
    
    {
     "Description": "Opening exit door triggers win.",
     "Conditions":
     [ 
      { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
      { "Property": "Kid Room", "Op": "!=", "Value":  12 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
       { "Type": "Trigger Win" }
     ]
    },
    
    {
     "Description": "If Kid exits the level, then win.",
     "Conditions":
     [
      { "Property": "Kid Frame", "Op": "==", "Value": 217 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Win" }
     ]
    },
    
    {
     "Description": "If Kid dies, then fail.",
     "Conditions":
     [
      { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    }
   ]  
  }
}
