{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 10, until overflow clip because SDLpop is not emulating it correctly.",
  "Path": "pretile.sav",
  "Random Seed": 3949359629, 
  "Last Loose Tile Sound": 21,
  "Max Steps": 200,
  
  "Rules":
  [
   {
    "Description": "Once in the right position, go left to execute clip.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 7, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 193.0 }
    ]
   },

   {
    "Description": "Win if correct setup is executed.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 },
     { "Property": "Kid Position Y", "Op": "==", "Value":  199 },
     { "Property": "Kid Position X", "Op": "==", "Value":  193 },
     { "Property": "Kid Frame", "Op": "==", "Value":  104 },
     { "Property": "Kid Fall Velocity X", "Op": "==", "Value":  1 }, 
     { "Property": "Kid Direction", "Op": "==", "Value":  -1 }
    ],
   
    "Dependencies": [ 4 ],

    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Current HP", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
