{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 2",  
  
  "Savefile Configuration": 
  {
    "Path": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 252645135
    },
    
    "Current Loose Tile Sound":
    {
       "Override": true,
       "Value": 23
    }
  },
  
  "Search Configuration":
  {
   "Max Frames": 50000,
   "Max Database Size": 350000,
   "Show Profiling Information": true,
   "Show Debugging Information": true,
   
   "Magnets":
   [
    {
      "Room": 5,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 0.0,
      "Position Y": 0
    },
    {
      "Room": 4,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 0.0,
      "Position Y": 0
    },
    {
      "Room": 6,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 1.0,
      "Position Y": 0
    },
    {
      "Room": 1,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 1.0,
      "Position Y": 0
    },
    {
      "Room": 22,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 0.0,
      "Position Y": 0
    },
    {
      "Room": 11,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 0.0,
      "Position Y": 0
    }
   ],
   
   "Rules":
   [
    {
     "Status": "Active",
     "Reward": 0,
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Is Alive",
       "Operation": "==",
       "Operand 2":  0
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Trigger Fail"
      }
     ]
    },
    
    {
     "Status": "Active",
     "Reward": 0,
     
     "Conditions":
     [
      {
       "Operand 1": "Current Level",
       "Operation": ">",
       "Operand 2":  2
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Trigger Win"
      }
     ]
    },
    
    {
     "Status": "Active",
     "Reward": 200,
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Room",
       "Operation": "==",
       "Operand 2":  4
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Set Magnet Intensity X",
       "Room": 5,
       "Value": 0.0
      }
     ]
    },
    
   
   {
     "Status": "Active",
     "Reward": 200,
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Room",
       "Operation": "==",
       "Operand 2":  6
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Set Magnet Intensity X",
       "Room": 4,
       "Value": 0.0
      }
     ]
    }, 
    
    {
     "Status": "Active",
     "Reward": 200,
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Room",
       "Operation": "==",
       "Operand 2":  1
      },
      {
       "Operand 1": "Kid Position Y",
       "Operation": "==",
       "Operand 2":  55
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Set Magnet Intensity X",
       "Room": 6,
       "Value": 0.0
      },
      {
       "Type": "Set Magnet Intensity Y",
       "Room": 6,
       "Value": 0.0
      }
     ]
    },
    
    {
     "Status": "Active",
     "Reward": -200,
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Room",
       "Operation": "==",
       "Operand 2":  1
      },
      {
       "Operand 1": "Kid Position Y",
       "Operation": "==",
       "Operand 2":  118
      }
     ],
     
     "Actions":
     [
     ]
    },
    
    {
     "Status": "Active",
     "Reward": 200,
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Room",
       "Operation": "==",
       "Operand 2":  22
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Set Magnet Intensity X",
       "Room": 1,
       "Value": 0.0
      },
      {
       "Type": "Set Magnet Intensity Y",
       "Room": 1,
       "Value": 0.0
      }
     ]
    },
    
   {
     "Status": "Active",
     "Reward": 200,
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Room",
       "Operation": "==",
       "Operand 2":  11
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Set Magnet Intensity X",
       "Room": 22,
       "Value": 0.0
      }
     ]
    }
    
   ]  
  }
}
