{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 2",  
  
  "State Configuration": 
  {
    "Save File": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 252645135
    },
    
    "Current Loose Tile Sound":
    {
       "Override": true,
       "Value": 23
    }
  },
  
  "Search Configuration":
  {
   "Max Database Size": 100000
  },
  
  "Scorer Configuration":
  {
   "Per Frame Score Decay": 1.0,
   
   "Magnets":
   [
    {
      "Screen": 5,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 0.0,
      "Position Y": 0
    },
    {
      "Screen": 4,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 0.0,
      "Position Y": 0
    },
    {
      "Screen": 6,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 1.0,
      "Position Y": 0
    },
    {
      "Screen": 1,
      "Intensity X": 1.0,
      "Position X": 0,
      "Intensity Y": 1.0,
      "Position Y": 0
    }
   ],
   
   "Rules":
   [
    {
     "Description": "Disable First Screen Magnet",
     
     "Conditions":
     [
      {
       "Operand 1": "Kid Screen",
       "Comparison": "==",
       "Operand 2":  4
      }
     ],
     
     "Actions":
     [
      {
       "Type": "Set Magnet Intensity X",
       "Screen": 5,
       "Value": 0.0
      }
     ]
    }
   ]  
  }
}
