{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 2",  
  
  "Savefile Configuration": 
  {
    "Path": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 252645135
    },
    
    "Current Loose Tile Sound":
    {
       "Override": true,
       "Value": 23
    }
  },
  
  "Search Configuration":
  {
   "Max Frames": 50000,
   "Max Database Size": 350000,
   "Show Profiling Information": false,
   "Show Debugging Information": true,
   
   "Rules":
   [
    {
     "Description": "Setting magnet to make kid go to the left on the first screen",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  5 }
     ],
     
     "Actions":
     [
      { "Type": "Set Horizontal Magnet Position", "Room": 5,  "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 5, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the second screen",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  4 }
     ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 5, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 4, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 4,  "Value": 55.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the third screen.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  6 }
     ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 4, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 6,  "Value": 0.0 }
     ]
    }, 
    
    {
     "Description": "Reward kid arriving in the center, set magnets to encourage climbing up.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  6 },
      { "Property": "Kid Position X", "Op": "<", "Value":  98 }
     ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 6,  "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Reward kid for climbing. Set magnet to go to the left.",
     "Conditions":
     [ 
      { "Property": "Kid Room", "Op": "==", "Value":  6 },
      { "Property": "Kid Position Y", "Op": "<", "Value":  60 }
     ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 1.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 6,  "Value": 0.0 }
     ]
    },
    
    {
     "Description": "If Kid advances to the left on the lower level, he cannot go up, so this should fail.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  1 },
      { "Property": "Kid Position Y", "Op": ">", "Value":  60 }
     ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid advances to the left on the upper level, reward him and go on.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  1 },
      { "Property": "Kid Position Y", "Op": "<", "Value":  60 }
     ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 1, "Value": 55 }
     ]
    },
    
    {
     "Description": "If Kid dies, then fail.",
     "Conditions":
     [
      { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
     ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
     "Conditions":
     [
      { "Property": "Kid Frame", "Op": "==", "Value": 217}
     ],
     
     "Actions":
     [
      { "Type": "Trigger Win" }
     ]
    }
    
   ]  
  }
}
