{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 4",  
  
  "Path": "quicksave.sav",
  "Random Seed": 4246952468,
  "Last Loose Tile Sound": 20,
  "Max Steps": 600,
  
  "Rules":
  [
   {
    "Description": "Setting magnet to make kid go to the right on the first screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Horizontal Magnet Position", "Room": 1,  "Value": 205.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to the second screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 },
     { "Property": "Kid Position X", "Op": ">", "Value":  90 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 2, "Value": 205.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to the third screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  5 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 5, "Value": 205.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 5, "Value": 1.0 }
    ]
   }, 
   
   {
    "Description": "Rewarding kid for advancing to the fourth screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  6 },
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 5, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 6, "Value": 205.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to the fifth screen.",
    "Conditions":
    [ 
     { "Property": "Kid Room", "Op": "==", "Value":  24 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 24, "Value": 205.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 24, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to the sixth screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  7 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 24, "Value": 0.0 }
    ]
   },
   
   {
    "Description": "Free-style until activating exit door, then return.",
    "Conditions":
    [
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 }
    ]
   },
   
   {
    "Description": "Free-style until we're back to screen 7, and keep going back.",
    "Conditions":
    [
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Room", "Op": "==", "Value":  7 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Position", "Room": 7, "Value": 55.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Free-style until we're back to screen 7, and keep going back.",
    "Conditions":
    [
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Room", "Op": "==", "Value":  24 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 7, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 24, "Value": 128.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 24, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217}
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   }
   
  ]  
}
