{
  "Description": "This script searches for a possible way to drink the big potion in level 5",  
  
  "Savefile Configuration": 
  {
    "Path": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 556531904
    },
    
    "Last Loose Tile Sound":
    {
       "Override": true,
       "Value": 0
    }
  },
  
  "Playback Configuration": 
  {
    "Pause After Every Frame": false,
    "Produce Replay File": false,
    "Frame Duration": 16
  },
  
  "Search Configuration":
  {
   "Max Steps": 1000,
   "Max Local Database Size": 280000,
   "Show Profiling Information": true,
   "Show Debugging Information": true,
   "Show SDLPop Display": true,
   
   "Hash Databases":
   {
    "Database Count": 10,
    "Size Threshold": 3500000
   },
      
   "Rules":
   [
    {
     "Description": "Setting magnet to indiference on expected screens",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": ">", "Value":  0 }
     ],
     
     "Actions":
     [
      { "Type": "Set Horizontal Magnet Position", "Room": 24,  "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 24, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 11,  "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 11, "Value": 0.0 }
     ]
    },
    
    {
     "Description": "If Kid dies, then fail.",
     "Conditions":
     [
      { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
     ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid drinks the potion, then win.",
     "Conditions":
     [
      { "Property": "Kid Max HP", "Op": "==", "Value": 4}
     ],
     
     "Actions":
     [
      { "Type": "Trigger Win" }
     ]
    },

    {
     "Description": "If Shadow drinks the potion, then lose.",
     "Conditions":
     [
      { "Property": "Guard Frame", "Op": "==", "Value": 205}
     ],

     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    }
   ]  
  }
}
