{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 9, starting from 3rd guard until the end",
  "Path": "quicksave.sav",
  "Random Seed": 4002845479,
  "Last Loose Tile Sound": 20,
  "Max Steps": 700,
  
  "Rules":
  [
   {
    "Description": "Once kid reached the opening door frame, finish this first part",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  18 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 18, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 18, "Value": 1.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 18, "Value": 0.0 }
    ]
   },
   
   {
    "Description": "Once kid reached the 3rd guard, keep going left",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  17 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 18, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 17, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 17, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "After the guard, keep going to the left",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  19 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 17, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 19, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 19, "Value": 55.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 19, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "If arrived in the next screen on top, reward and keep going.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  22 },
     { "Property": "Kid Position Y", "Op": "<=", "Value":  55 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 19, "Value": 0.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 19, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 22, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 22, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "If arrived in the next screen on top, reward and keep going.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  10 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 22, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 10, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 10, "Value": 110.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 10, "Value": -1.0 }
    ]
   },
   
   {
    "Description": "If arrived in the next screen on top, reward and keep going.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  24 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 10, "Value": 0.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 10, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 24, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 24, "Value": 130.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 24, "Value": -1.0 }
    ]
   },
   
   {
    "Description": "If arrived in the chomper screen, go open door",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 24, "Value": 0.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 24, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 180.0 }
    ]
   },
     
   {
    "Description": "If door open, then go left to open the other door",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position X", "Op": ">", "Value":  163 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 55.0 }
    ]
   },  
   
   {
    "Description": "If door open, go right and exit room",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position X", "Op": "<", "Value":  74 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 160 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 1, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "If trying to get through the chomper again, fail",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position X", "Op": ">", "Value":  140 },
     { "Property": "Kid Position Y", "Op": "==", "Value":  118 }
    ],
   
    "Dependencies": [ 8 ],

    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "Reward passing the door",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position X", "Op": ">", "Value":  155 },
     { "Property": "Kid Position Y", "Op": "==", "Value":  55 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 255.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 1, "Value": 0.0 }
    ]
   },
   
   {
    "Description": "On next room, keep advancing to right",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  23 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 20000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 1, "Value": 0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 23, "Value": 1 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 23, "Value": 205.0 }
    ]
   },
   
   {
    "Description": "On last guard's room, keep advancing",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 },
     { "Property": "Kid Position Y", "Op": "<=", "Value":  55 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 23, "Value": 0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 205.0 }
    ]
   },
   
   {
    "Description": "On last room, go to the right",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  5 },
     { "Property": "Kid Position Y", "Op": "<=", "Value":  55 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 5, "Value": 1 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 5, "Value": 128.0 }
    ]
   },        
     
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win (just in case).",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
