{
  "Description": "This script tries to push the guard below alive",
  "Path": "quicksave.sav",
  "Random Seed": 2108297989,
  "Last Loose Tile Sound": 21,
  "Max Steps": 800,
  
  "Rules":
  [
   {
    "Description": "Once kid reached the opening door frame, finish this first part",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  18 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 18, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 18, "Value": 1.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 18, "Value": 0.0 }
    ]
   },
   
   {
    "Description": "Once kid reached the 3rd guard, keep going left",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  17 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 18, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 17, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 17, "Value": 55.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 17, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 17, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Setting magnet to make kid go to the left on the first screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  19 },
     { "Property": "Guard Room", "Op": "==", "Value":  19 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 17, "Value": 0.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 17, "Value": 0.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 19, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 19, "Value": 55 },
     { "Type": "Set Guard Vertical Magnet Intensity", "Room": 19, "Value": -1 }
    ]
   },
   
   {
    "Description": "Once guard stepped down below alive, win",
    "Conditions":
    [
     { "Property": "Guard Room", "Op": "==", "Value":  19 },
     { "Property": "Guard Position Y", "Op": "==", "Value":  181},
     { "Property": "Guard Current HP", "Op": ">", "Value":  0},
     { "Property": "Guard Frame", "Op": "!=", "Value":  177}
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },

   {
    "Description": "If Guard dies, then fail.",
    "Conditions":
    [
     { "Property": "Guard Is Alive", "Op": "==", "Value":  0 }
    ],

    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
