{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 8",
  "Path": "quicksave.sav",
  "Random Seed": 4002845479,
  "Last Loose Tile Sound": 20,
  "Max Steps": 900,
  
  "Rules":
  [
   {
    "Description": "Setting magnet to make kid go to the left on the first screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 0 }
    ]
   },
   
   {
    "Description": "Setting magnet to make kid advance to the left screen while luring the guard.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  5 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 5, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 5, "Value": 180.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 5, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 5, "Value": 180.0 }
    ]
   },
   
   {
    "Description": "Setting magnet to make kid go back to the starting screen with the guard.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Guard Room", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 3000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 5, "Value": 0.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 5, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 200.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 1, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Setting magnet to make kid go back to the potion room with the guard.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 },
     { "Property": "Guard Room", "Op": "==", "Value":  2 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 5000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 200.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Reward achieving the clip.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  4 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 4, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 4, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Get into the exit door open room.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  3 }
    ],
   
    "Dependencies": [ 4 ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 4, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 3, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Open door and go immediately to the right",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  3 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 3, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Open door and go immediately to the right",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  4 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 4, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 4, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Wait for the mouse",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  16 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 4, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 16, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 16, "Value": 128.0 }
    ]
   },
   
   {
    "Description": "Reward going down and then going back to the left",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  16 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  90 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 16, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 16, "Value": 55.0 }
    ]
   },

   {
    "Description": "Keep going to the left",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  4 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  90 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 16, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 4, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 4, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Go to exit door",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  4 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  90 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 4, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 3, "Value": 90.0 }
    ]
   },
      
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
