{
  "Description": "This script searches for the fastest any% glitchless solution for vanilla PoP level 1",  
  
  "Savefile Configuration": 
  {
    "Path": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 252645135
    },
    
    "Last Loose Tile Sound":
    {
       "Override": true,
       "Value": 0
    }
  },

  "Search Configuration":
  {
   "Max Steps": 1200,
   "Show SDLPop Display": true,
   
   "Rules":
   [
    {
     "Description": "Setting magnet to make kid go to the left/down on the first screen",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  1 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Set Vertical Magnet Intensity", "Room": 1,  "Value": -1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 1,  "Value": 200.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the second screen",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  2 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Position", "Room": 2,  "Value": 200.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the third screen where the guard is.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  3 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 500 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 3, "Value": 0.0 }
     ]
    }, 
    
    {
     "Description": "Get kid to come back with the guard and get him to go to the left",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  2 },
      { "Property": "Guard Room", "Op": "==", "Value":  2 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Horizontal Magnet Position", "Room": 2,  "Value": 40.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Reward kid for getting to left screen if guard has already been lured.",
     "Conditions":
     [ 
      { "Property": "Kid Room", "Op": "==", "Value": 6 },
      { "Property": "Guard Room", "Op": "==", "Value":  2 },
      { "Property": "Guard Position X", "Op": "<", "Value":  180 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 6,  "Value": 145.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 1.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 6, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Reward climbing to the upper room.",
     "Conditions":
     [ 
      { "Property": "Kid Room", "Op": "==", "Value": 5 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 6, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 5,  "Value": 250.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 5, "Value": 0.1 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 5, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Reward coming back to the initial room.",
     "Conditions":
     [ 
      { "Property": "Kid Room", "Op": "==", "Value": 1 }
     ],
     
     "Dependencies": [ 5 ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 }
     ]
    },
    
    {
     "Description": "Reward coming back to the initial room.",
     "Conditions":
     [ 
      { "Property": "Kid Room", "Op": "==", "Value": 2 }
     ],
     
     "Dependencies": [ 6 ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Horizontal Magnet Position", "Room": 2,  "Value": 200.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
     ]
    },
    
        {
     "Description": "Reward kid arriving in the last screen and preventing him from coming back",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  9 }
     ],
     
     "Dependencies": [ 7 ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 9,  "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 3,  "Value": 128.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 3, "Value": -1.0 }
     ]
    },
    
    {
     "Description": "Reward kid for opening exit door. Set magnet to go to the center.",
     "Conditions":
     [ 
      { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 9,  "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 9, "Value": 128 }
     ]
    },
    
    {
     "Description": "If Kid is going to jumpskip, fail.",
     "Conditions":
     [
      { "Property": "Kid Frame", "Op": "==", "Value":  34 },
      { "Property": "Guard Frame", "Op": "==", "Value":  168 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid is going to receive fall damage, fail.",
     "Conditions":
     [
      { "Property": "Kid Fall Velocity Y", "Op": ">", "Value":  18 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid dies, then fail.",
     "Conditions":
     [
      { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
     "Conditions":
     [
      { "Property": "Kid Frame", "Op": "==", "Value": 217}
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Win" }
     ]
    }
    
   ]  
  }
}
