{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 1",  
  
  "Rules":
  [
   {
    "Label": 1000,
    "Description": "Restart to clear the need to play initial music",
    "Conditions":
    [
     { "Property": "Needs Level 1 Music", "Op": "==", "Value":  2 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ ],
    
    "Actions":
    [
     { "Type": "Restart Level" }
    ]
   },
   
   {
    "Label": 1001,
    "Description": "Setting magnet to make kid go to the left/down on the first screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ ],
    
    "Actions":
    [
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 1,  "Value": -1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1,  "Value": 200.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 }
    ]
   },
   
   {
    "Label": 1002,
    "Description": "Rewarding kid for advancing to the second screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 200 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2,  "Value": 200.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
    ]
   },
   
   {
    "Label": 1003,
    "Description": "Rewarding kid for advancing to the third screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  3 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 200 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 3,  "Value": 200.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": 1.0 }
    ]
   }, 
   
   {
    "Label": 1004,
    "Description": "Reward kid arriving in the last screen and preventing him from coming back",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  9 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 1001, 1002, 1003 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 9,  "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 9, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 3,  "Value": 128.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": -1.0 }
    ]
   },
   
   {
    "Label": 1005,
    "Description": "Reward kid for opening exit door. Set magnet to go to the center.",
    "Conditions":
    [ 
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 1004 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 9,  "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 9, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 9, "Value": 128 }
    ]
   },
   
   {
    "Label": 1006,
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Current HP", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Label": 1007,
    "Description": "If Kid starts to climb up the exit door (frame 217), then give reward.",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217}
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 1005 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 }
    ]
   },
   
   {
    "Label": 1008,
    "Description": "If we reach next level, win.",
    "Conditions":
    [
     { "Property": "Next Level", "Op": "==", "Value": 2 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 1007 ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   }
  ]  
}
