{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 1",  
  
  "Savefile Configuration": 
  {
    "Path": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 252645135
    },
    
    "Last Loose Tile Sound":
    {
       "Override": true,
       "Value": 0
    }
  },
  
  "Playback Configuration": 
  {
    "Pause After Every Frame": false,
    "Produce Replay File": false,
    "Frame Duration": 16
  },
  
  "Search Configuration":
  {
   "Max Steps": 250,
   "Max Local Database Size": 100000,
   "Show Profiling Information": true,
   "Show Debugging Information": true,
   "Show SDLPop Display": false,
   
   "Hash Databases":
   {
    "Database Count": 10,
    "Size Threshold": 1000000
   },
   
   "Rules":
   [
    {
     "Description": "Setting magnet to make kid go to the left/down on the first screen",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  1 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Set Vertical Magnet Intensity", "Room": 1,  "Value": -1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 1,  "Value": 200.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the second screen",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  2 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 2,  "Value": 200.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the third screen.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  3 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 3,  "Value": 200.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 3, "Value": 1.0 }
     ]
    }, 
    
    {
     "Description": "Reward kid arriving in the last screen and preventing him from coming back",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  9 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 9,  "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 3,  "Value": 128.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 3, "Value": -1.0 }
     ]
    },
    
    {
     "Description": "Reward kid for opening exit door. Set magnet to go to the center.",
     "Conditions":
     [ 
      { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 1000 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 9,  "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 9, "Value": 128 }
     ]
    },
    {
     "Description": "If Kid dies, then fail.",
     "Conditions":
     [
      { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
     "Conditions":
     [
      { "Property": "Kid Frame", "Op": "==", "Value": 217}
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Win" }
     ]
    }
    
   ]  
  }
}
