{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 5",  
  
  "Path": "quicksave.sav",
  "Random Seed": 4246952468,
  "Last Loose Tile Sound": 20,
  "Max Steps": 490,
  
  "Rules":
  [
   {
    "Description": "Setting magnet to make kid go to the right on the first screen and luring guard",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  9 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 9, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 9, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for coming back with the guard.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  7 },
     { "Property": "Guard Room", "Op": "==", "Value":  7 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 7, "Value": 0.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for crossing the door.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  8 },
     { "Property": "Kid Position X", "Op": "<", "Value":  155 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 8, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 8, "Value": 1.0 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 8, "Value": 1.0 }
    ]
   }, 
   
   {
    "Description": "Rewarding kid for advancing to screen 12.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  12 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 8, "Value": 0.0 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 8, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 12, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 12, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to screen 2.",
    "Conditions":
    [ 
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 12, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to screen 16.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  16 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 16, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 16, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to screen 15.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  15 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 16, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 15, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to the last screen 18.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  18 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 18, "Value": 128.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 18 , "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Opening Exit door gives a lot of points (just in case it can be done in advance).",
    "Conditions":
    [
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Room", "Op": "!=", "Value":  9 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [ 
     { "Type": "Add Reward", "Value": 10000 }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   }
   
  ]  
}
