{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 5",  
  
  "Rules":
  [
   {
    "Label": 5000,
    "Description": "Setting magnet to make kid go to the right on the first screen and luring guard",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  9 }
    ],
   
    "Dependencies": [ ],
    "Satisfies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 9, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 9, "Value": 55.0 }
    ]
   },
   
   {
    "Label": 5001,
    "Description": "Rewarding kid for coming back with the guard.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  7 },
     { "Property": "Guard Room", "Op": "==", "Value":  7 }
    ],
    
    "Dependencies": [ 5000 ],
    "Satisfies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 9, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 7, "Value": 0.0 }
    ]
   },
   
   {
    "Label": 5002,
    "Description": "Rewarding kid for crossing the door.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  8 },
     { "Property": "Kid Position X", "Op": "<", "Value":  155 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5001 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 8, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 8, "Value": 1.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 8, "Value": 1.0 }
    ]
   }, 
   
   {
    "Label": 5003,
    "Description": "Rewarding kid for advancing to screen 12.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  12 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5002 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 8, "Value": 0.0 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 8, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 12, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 12, "Value": 1.0 }
    ]
   },
   
   {
    "Label": 5004,
    "Description": "Rewarding kid for advancing to screen 2.",
    "Conditions":
    [ 
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5003 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 12, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 }
    ]
   },
   
   {
    "Label": 5005,
    "Description": "Rewarding kid for advancing to screen 16.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  16 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5004 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 16, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 16, "Value": 1.0 }
    ]
   },
   
   {
    "Label": 5006,
    "Description": "Rewarding kid for advancing to screen 15.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  15 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5005 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 16, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 15, "Value": 55.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 1.0 }
    ]
   },
   
   {
    "Label": 5007,
    "Description": "Rewarding kid for advancing to the last screen 18.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Room", "Op": "==", "Value":  18 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5006 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 18, "Value": 128.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 18 , "Value": 1.0 }
    ]
   },
   
   {
    "Label": 5008,
    "Description": "Opening Exit door.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Room", "Op": "!=", "Value":  7 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5007 ],
    
    "Actions":
    [ 
     { "Type": "Add Reward", "Value": 1000 }
    ]
   },
   
   {
    "Label": 5009,
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": "==", "Value":  5 },
     { "Property": "Kid Current HP", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Label": 5010,
    "Description": "If Kid starts exits the level, then win.",
    "Conditions":
    [
     { "Property": "Current Level", "Op": ">", "Value":  5 }
    ],
    
    "Dependencies": [ ],
    "Satisfies": [ 5008 ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Trigger Win" }
    ]
   }
   
  ]  
}
