{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 13 starting before the jaffar fight",
  "Path": "quicksave.sav",
  "Random Seed": 2084176085,
  "Last Loose Tile Sound": 21,
  "Max Steps": 100,
  
  "Rules":
  [
   
   {
    "Description": "Go left and kill jaffar.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 1 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 }
    ]
   },
   
   {
    "Description": "If Jaffar is dead, door opens, then win.",
    "Conditions":
    [
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Current HP", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
