{

  
  "Path": "quicksave.sav",
  "Random Seed": 2387776042,
  "Last Loose Tile Sound": 22,
  "Max Steps": 550,
  
  "Rules":
  [
   {
    "Description": "Setting magnet to make kid go to the right on the first screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Setting magnet to make kid go advancing to the right screen while luring guard.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 200.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 2, "Value": 10.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 2, "Value": 172.0 }
    ]
   },
   
   {
    "Description": "Only reward kid if he advanced together with the guard. Go to the center and try to fall.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  7 },
     { "Property": "Guard Room", "Op": "==", "Value":  7 },
     { "Property": "Guard Current HP", "Op": ">", "Value":  0 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 7, "Value": 128.0 },
     { "Type": "Set Guard Vertical Magnet Intensity", "Room": 7, "Value": -1 }
    ]
   },

   {
    "Description": "Reward having the guard go down alive.",
    "Conditions":
    [
     { "Property": "Guard Room", "Op": "==", "Value":  7 },
     { "Property": "Guard Position Y", "Op": "==", "Value":  181 },
     { "Property": "Guard Current HP", "Op": ">", "Value":  0 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 7, "Value": 0.0 },
     { "Type": "Set Guard Vertical Magnet Intensity", "Room": 7, "Value": 0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 7, "Value": 128 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 7, "Value": -1 }
    ]
   },
   
   {
    "Description": "If both Kid and Guard got to get down, then go to the left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  7 },
     { "Property": "Kid Position Y", "Op": "==", "Value":  181 },
     { "Property": "Kid Current HP", "Op": ">", "Value":  0 },
     { "Property": "Guard Room", "Op": "==", "Value":  7 },
     { "Property": "Guard Position Y", "Op": "==", "Value":  181 },
     { "Property": "Guard Current HP", "Op": ">", "Value":  0 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 7, "Value": 55 },
     { "Type": "Set Kid Vertical Magnet Intensity", "Room": 7, "Value": 0 }
    ]
   },
   
   {
    "Description": "Setting magnet to make kid to keep advancing to the left screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  120 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Reward Drinking Potion",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value":  191 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 }
    ]
   },
   
   {
   "Description": "Setting magnet to make kid to keep advancing to the left screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  150 },
     { "Property": "Kid Fall Velocity Y", "Op": "==", "Value":  0 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 55.0 }
    ]
   },
   
   {
   "Description": "Rewarding getting to the last screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  3 },
     { "Property": "Is Feather Fall", "Op": "==", "Value":  1 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 3, "Value": 160.0 }
    ]
   },
   
   {
    "Description": "If exit door is open, go back to center and exit.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  3 },
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [ 
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 3, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 3, "Value": 120 }
    ]
   },
           
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "If Guard dies, then fail.",
    "Conditions":
    [
     { "Property": "Guard Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   }
  ]  
}
