{
  "Path": "skipSearch.sav",
  "Random Seed": 2387776042,
  "Last Loose Tile Sound": 22,
  "Max Steps": 150,
  
  "Rules":
  [
   {
    "Description": "Setting magnet to make kid go to the left, look for a skip",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 10.0 }
    ]
   },
   
   {
    "Description": "If Kid is in the correct position and frame, finish.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position X", "Op": "==", "Value": 9 },
     { "Property": "Kid Frame", "Op": "==", "Value": 158 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid is in the correct position and frame, finish.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position X", "Op": "==", "Value": 10 },
     { "Property": "Kid Frame", "Op": "==", "Value": 158 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid is in the correct position and frame, finish.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position X", "Op": "==", "Value": 11 },
     { "Property": "Kid Frame", "Op": "==", "Value": 158 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid is in the correct position and frame, finish.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position X", "Op": "==", "Value": 12 },
     { "Property": "Kid Frame", "Op": "==", "Value": 158 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid is in the correct position and frame, finish.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position X", "Op": "==", "Value": 14 },
     { "Property": "Kid Frame", "Op": "==", "Value": 158 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid is in the correct position and frame, finish.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position X", "Op": "==", "Value": 15 },
     { "Property": "Kid Frame", "Op": "==", "Value": 158 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid is in the correct position and frame, finish.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position X", "Op": "==", "Value": 16 },
     { "Property": "Kid Frame", "Op": "==", "Value": 158 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   }
  ]  
}
