{
  "Path": "skipSearch.sav",
  "Random Seed": 2387776042,
  "Last Loose Tile Sound": 22,
  "Max Steps": 900,
  
  "Rules":
  [
   {
    "Description": "Setting magnet to make kid go to the left, look for a skip",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 0.0 }
    ]
   },
   
   {
    "Description": "Reward falling on room 1",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Frame", "Op": "==", "Value":  102 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 255.0 }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "If Kid starts for achieving the skip.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 1 },
     { "Property": "Kid Position Y", "Op": "==", "Value": 181 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   }
  ]  
}
