{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 10.",
  "Path": "quicksave.sav",
  "Random Seed": 3949359629, 
  "Last Loose Tile Sound": 21,
  "Max Steps": 700,
  
  "Rules":
  [
   {
    "Description": "At beginning, go left and climb down.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": "==", "Value":  118 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 70.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Once down go right.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": "==", "Value":  181 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 220.0 }
    ]
   },
   
   {
    "Description": "At the next screen, pass the guard to the right",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 220.0 }
    ]
   },
   
   {
    "Description": "Once in the next screen, go right for the clip setup.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  7 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  55 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 7, "Value": 140.0 }
    ]
   },
   
   {
    "Description": "Once in the right position, go left to execute clip.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  7 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  55 },
     { "Property": "Kid Position X", "Op": ">", "Value":  134 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 7, "Value": 50.0 }
    ]
   },

   {
    "Description": "Reward getting back to previous screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  55 },
     { "Property": "Kid Position X", "Op": ">", "Value":  120 }
    ],
   
    "Dependencies": [ 4 ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 7, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 183.0 }
    ]
   },
   
   {
    "Description": "Reward getting back to clip screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  13 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 }
    ]
   },
   
   {
    "Description": "Reward arriving in the correct after-clip position.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Kid Position Y", "Op": "<=", "Value": 55 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Continue going through the initial screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 1 },
     { "Property": "Kid Position Y", "Op": "<=", "Value": 55 }
    ],
    
    "Dependencies": [ 5 ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Continue going through guard screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 5 },
     { "Property": "Kid Position Y", "Op": "<=", "Value": 55 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 5, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 5, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Continue going through exit screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 8 },
     { "Property": "Kid Position Y", "Op": "<=", "Value": 55 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 5, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 8, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 8, "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Once down and with the door open, exit room.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 8 },
     { "Property": "Kid Position Y", "Op": ">", "Value": 55 },
     { "Property": "Exit Door Open", "Op": "==", "Value": 1 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 8, "Value": 128.0 }
    ]
   },
        
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win (just in case).",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
