{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 3 (first part before checkpoint)",  
  
   "Path": "quicksave.sav",
   "Random Seed": 3857558410,
   "Last Loose Tile Sound": 20,
   "Max Steps": 550,
   
   "Rules":
   [
    {
     "Description": "If Kid dies, then fail.",
     "Conditions":
     [
      { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },

    {
     "Description": "If Kid exits the level, then win.",
     "Conditions":
     [
      { "Property": "Kid Frame", "Op": "==", "Value": 217 }
     ],

     "Dependencies": [ ],

     "Actions":
     [
      { "Type": "Trigger Win" }
     ]
    }

   ]  
}
