{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 3 (first part before checkpoint)",  
  
  "Savefile Configuration": 
  {
    "Path": "quicksave.sav",
    
    "Random Seed":
    {
       "Override": true,
       "Value": 556531904
    },
    
    "Last Loose Tile Sound":
    {
       "Override": true,
       "Value": 0
    }
  },
  
  "Playback Configuration": 
  {
    "Pause After Every Frame": false,
    "Produce Replay File": false,
    "Frame Duration": 16
  },
  
  "Search Configuration":
  {
   "Max Steps": 1000,
   "Max Local Database Size": 200000,
   "Show Profiling Information": true,
   "Show Debugging Information": true,
   "Show SDLPop Display": true,
   
   "Hash Databases":
   {
    "Database Count": 10,
    "Size Threshold": 3500000
   },
      
   "Rules":
   [
    {
     "Description": "Setting magnet to make kid go to the right on the first screen",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  9 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Set Horizontal Magnet Position", "Room": 9,  "Value": 200.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the second screen. Rewarding climbing.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  12 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 12, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 12,  "Value": 165.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 12,  "Value": 1.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for advancing to the third screen. Rewarding climbing.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  11 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 12, "Value": 0.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 12, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 11, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 11,  "Value": 210.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 11,  "Value": 1.0 }
     ]
    }, 
    
    {
     "Description": "Reward kid arriving in the fourth screen, set magnets to go to door opening tile.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  14 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 500 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 11, "Value": 0.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 11,  "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 14, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 14,  "Value": 175.0 }
     ]
    },
    
    {
     "Description": "If kid has jumped onto the opening tile, now go back left",
     "Conditions":
     [ 
      { "Property": "Kid Room", "Op": "==", "Value":  14 },
      { "Property": "Kid Position X", "Op": ">", "Value":  173 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Position", "Room": 14, "Value": 55.0 }
     ]
    },
    
    {
     "Description": "Rewarding kid for coming back to the left, now continue going to the left.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  11 }
     ],
     
     "Dependencies": [ 4 ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 14, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 11, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 11,  "Value": 55.0 }
     ]
    },
    
    {
     "Description": "Continuing to the left.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  10 }
     ],
     
     "Dependencies": [ 5 ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 11, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 10, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 10,  "Value": 55.0 }
     ]
    },
    
    {
     "Description": "Continuing to the left and climb to checkpoint",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value":  7 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Add Reward", "Value": 200 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 10, "Value": 0.0 },
      { "Type": "Set Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
      { "Type": "Set Horizontal Magnet Position", "Room": 7,  "Value": 55.0 },
      { "Type": "Set Vertical Magnet Intensity", "Room": 7, "Value": 1.0 }
     ]
    },
    
    {
     "Description": "If Kid dies, then fail.",
     "Conditions":
     [
      { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Fail" }
     ]
    },
    
    {
     "Description": "If Kid gets to room 2 in the right position (activates the checkpoint), then win.",
     "Conditions":
     [
      { "Property": "Kid Room", "Op": "==", "Value": 2},
      { "Property": "Kid Position Y", "Op": "==", "Value": 55}
     ],
     
     "Dependencies": [ ],
     
     "Actions":
     [
      { "Type": "Trigger Win" }
     ]
    }
    
   ]  
  }
}
