{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 2",  
  
  "Path": "quicksave.sav",
  "Random Seed": 3594361728,
  "Last Loose Tile Sound": 22,
  "Max Steps": 1000,
  
  "Rules":
  [
   {
    "Description": "Setting magnet to make kid go to the left on the first screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  5 }
    ],
   
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Horizontal Magnet Position", "Room": 5,  "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 5, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to the second screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  4 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 200 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 5, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 4, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 4,  "Value": 55.0 }
    ]
   },
   
   {
    "Description": "Rewarding kid for advancing to the third screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  6 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 200 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 4, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 6,  "Value": 0.0 }
    ]
   }, 
   
   {
    "Description": "Reward kid arriving in the center, set magnets to encourage climbing up.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  6 },
     { "Property": "Kid Position X", "Op": "<", "Value":  98 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 6,  "Value": 1.0 },
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "Reward kid for climbing. Set magnet to go to the left.",
    "Conditions":
    [ 
     { "Property": "Kid Room", "Op": "==", "Value":  6 },
     { "Property": "Kid Position Y", "Op": "<", "Value":  60 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 1.0 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 6,  "Value": 0.0 }
    ]
   },
   
   {
    "Description": "If Kid advances to the left on the lower level, he cannot go up, so this should fail.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": ">", "Value":  60 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "If Kid advances to the left on the upper level, reward him and go left/up.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  1 },
     { "Property": "Kid Position Y", "Op": "<", "Value":  60 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 1, "Value": 55 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 1,  "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Make kid keep going up and then left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  22 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 1, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 22, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 22, "Value": 55 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 22,  "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Meet guard and go left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  11 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 22, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 11, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 11, "Value": 55 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 11,  "Value": 1.0 }
    ]
   },
   
   {
    "Description": "If we arrive to the left screen and Kid has only one HP remaining, trigger fail because later we need the tile to fall on him.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  18 },
     { "Property": "Kid Current HP", "Op": "==", "Value":  1 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  18 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 11, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 18, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 18, "Value": 55 }
    ]
   },
   
   {
    "Description": "Meet other guard and keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  7 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 18, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 7, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 7, "Value": 55 }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  13 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 7, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 13, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 13, "Value": 55 }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  15 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 13, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 15, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 15, "Value": 55 }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  16 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 15, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 16, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 16, "Value": 55 }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  19 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 16, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 19, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 19, "Value": 55 }
    ]
   },
   
   {
    "Description": "Keep going left.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  21 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 19, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 21, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 21, "Value": 55 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 21, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Go up now, preventing the kid from going back to the previous screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  2 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 21, "Value": -1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 21, "Value": 128 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": 0.1 },
     { "Type": "Set Horizontal Magnet Position", "Room": 2, "Value": 128 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 2, "Value": 1.0 }
    ]
   },
   
   {
    "Description": "Go left and activate exit door. Prevent kid from going back down.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value":  9 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 2, "Value": -1.0 },
     { "Type": "Set Vertical Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 9, "Value": 55 }
    ]
   },
   
   {
    "Description": "After activating exit door, go right.",
    "Conditions":
    [
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Room", "Op": "==", "Value":  9 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Position", "Room": 9, "Value": 200 }
    ]
   },
   
   {
    "Description": "Bring kid to the center of the exit screen",
    "Conditions":
    [
     { "Property": "Exit Door Open", "Op": "==", "Value":  1 },
     { "Property": "Kid Room", "Op": "==", "Value":  23 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 9, "Value": 0 },
     { "Type": "Set Horizontal Magnet Intensity", "Room": 23, "Value": 1.0 },
     { "Type": "Set Horizontal Magnet Position", "Room": 23, "Value": 128 }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Is Alive", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   },
   
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win.",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217}
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   }
   
  ]  
}
