{
  "Description": "This script searches for the fastest any% solution for vanilla PoP level 11",
  "Path": "quicksave.sav",
  "Random Seed": 2858355573,
  "Last Loose Tile Sound": 22,
  "Max Steps": 400,
  
  "Rules":
  [
   {
    "Description": "Going right initially.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 6 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 6, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 6, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Continue going through the next screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 1 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 1, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 1, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Continue going through guard screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 15 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 1000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 6, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 15, "Value": 200.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 15, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 15, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Continue going through the next screen.",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 2 },
     { "Property": "Guard Room", "Op": "==", "Value": 2 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 2000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 15, "Value": 0.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 15, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 2, "Value": 200.0 },
     { "Type": "Set Guard Horizontal Magnet Intensity", "Room": 2, "Value": 1.0 },
     { "Type": "Set Guard Horizontal Magnet Position", "Room": 2, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "Reward kid for getting to the next screen",
    "Conditions":
    [
     { "Property": "Kid Room", "Op": "==", "Value": 19 }
    ],
    
    "Dependencies": [ ],

    "Actions":
    [
     { "Type": "Add Reward", "Value": 10000 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 2, "Value": 0.0 },
     { "Type": "Set Kid Horizontal Magnet Intensity", "Room": 19, "Value": 1.0 },
     { "Type": "Set Kid Horizontal Magnet Position", "Room": 19, "Value": 200.0 }
    ]
   },
   
   {
    "Description": "If Kid starts to climb up the exit door (frame 217), then win (just in case).",
    "Conditions":
    [
     { "Property": "Kid Frame", "Op": "==", "Value": 217 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Win" }
    ]
   },
   
   {
    "Description": "If Kid dies, then fail.",
    "Conditions":
    [
     { "Property": "Kid Current HP", "Op": "==", "Value":  0 }
    ],
    
    "Dependencies": [ ],
    
    "Actions":
    [
     { "Type": "Trigger Fail" }
    ]
   }
  ]  
}
